# Experimentation with web scraping Indeed

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [213]:
url = "https://www.indeed.com/jobs?q=data+scientist+intern&l=austin&radius=50&sort=date"

In [214]:
page = requests.get(url)

In [215]:
soup = BeautifulSoup(page.text, "html.parser")

In [217]:
"Previous" in soup.find(name="span", attrs={"class": "np"}).text

False

In [75]:
n_jobs = c.split(" ")[-2]

In [79]:
int((n_jobs).replace(",", ""))

5379

In [119]:
for div in soup.find_all(name="div", attrs={"class":"row"}):
    #Job titles
    a = div.find(name="a", attrs={"data-tn-element":"jobTitle"})
    print(a["title"])
    #Company names 
    company = div.find(name="span", attrs={"class":"company"})
    a = div.find(name = "a", attrs = {"data-tn-element": "companyName"})
    if not a:
        print(' '.join(company.text.split()))
    else:
        print(' '.join(a.text.split()))
    # Locations
    location = company = div.find(name="span", attrs={"class":"location"})
    print(location.text)
    #URL
    a = div.find(name="a", attrs={"data-tn-element":"jobTitle"})
    print(a["href"])
    print(div)
    break

Business Intelligence Analyst
USAA
San Antonio, TX 78288
/pagead/clk?mo=r&ad=-6NYlbfkN0CAlkOQ68lM1c9i6UFrT9KS7Op1QrxrLywTI0eT6e8eGfiiKpoOf69_Jpa835vdr53UNL9gsKdj0F0_gvZlf2XCONu5fsPsFWsTUxUkTWGa_6fyLq5OLcdXVQykSJL3PCZ2HtudMyizZn-FtYOOmakJ1vdaE_cQsh6ULNGA4XZ6DJyM83Inc3WnmWfnj3ZQ59JMlDDoCKTnf4dj_IIVfDjjy5HwE8QxZBCkQOO_k_BcIsGMSJVoMIGkJyPVuAL8eMLFQnRF9c5m76MVZdX1MF7CuEdnrSLQ5IVthwNKyEv8uqjE2qFyHitQEZ-vhwTk4FkpbMybKvoTu_TrfBGF0GRcgslXsHq3SKYJ1o8RO3xku62hOM5TM3zslgnmjOE6WuDSc-5GwpvSPDH5AVRQWN9cN72W_RP-2JK5FkVdpwbzHbug3fBN55QcXkj536kQtBS8Uh4bKANiUhiQ_qRIs5g1GGVsE4fXSpPaXoEypVKyBWdJlxhWqL6ITpUFf_yiUI9ufWugFnPYCbA_p-nItsvyXi_g0zh2Re-7d-dQOQJvCaLTsXyw6-u51ld0TrMjCPa7OElyUbfk2Uwn0khDh2QOQXmwcu1j9ZnohkPGV1YsLkM-oz8ACgH_7PvTKo43h7dH1wzj5uy3mgjO572lw_-xrI1-2mpdePaK7lybfutdNq7RYeRsOgEk235bE8DRCcjAtuKbZLUBnjqzW3z6kPejn9zfWOuCB9P6niVpLGpZs7q7zRTbh2kygmOvaUmTUq0hZY1Vyfg3zDLZ1CB2_KkZVcQoIYCHTI9tC6g_fDID0nmuXH2KFRL1QeSBP2SpAkAx4zg8rs7eLOOov5YrWBwCl8ikQSZqXDB71Dt_t0cJ-loMkhptAVHDc7HW60Gs7KZNS3CbgpDID_SLE1mdQJTz-qqofJ-45RjY_NKgHQfaspxiumXXbXdaYfxzj8EpYlpuMkA4QtNXjmAFgb2XS05McN8CLg0K0Iy_5sn8NCxqFG48cyQDUwLHSZLDvk79DGe-DucdpgFX_ngzwhF9DFX6ldiLLVTCaUJmguPYFX4Yp1s7s9d6YlJo&p=1&sk=&fvj=0
<div class="row sjlast result" data-advn="4200170873456140" data-jk="f801f0ed484a07ec" id="pj_f801f0ed484a07ec">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0CAlkOQ68lM1c9i6UFrT9KS7Op1QrxrLywTI0eT6e8eGfiiKpoOf69_Jpa835vdr53UNL9gsKdj0F0_gvZlf2XCONu5fsPsFWsTUxUkTWGa_6fyLq5OLcdXVQykSJL3PCZ2HtudMyizZn-FtYOOmakJ1vdaE_cQsh6ULNGA4XZ6DJyM83Inc3WnmWfnj3ZQ59JMlDDoCKTnf4dj_IIVfDjjy5HwE8QxZBCkQOO_k_BcIsGMSJVoMIGkJyPVuAL8eMLFQnRF9c5m76MVZdX1MF7CuEdnrSLQ5IVthwNKyEv8uqjE2qFyHitQEZ-vhwTk4FkpbMybKvoTu_TrfBGF0GRcgslXsHq3SKYJ1o8RO3xku62hOM5TM3zslgnmjOE6WuDSc-5GwpvSPDH5AVRQWN9cN72W_RP-2JK5FkVdpwbzHbug3fBN55QcXkj536kQtBS8Uh4bKANiUhiQ_qRIs5g1GGVsE4fXSpPaXoEypVKyBWdJlxhWqL6ITpUFf_yiUI9ufWugFnPYCbA_p-nItsvyXi_g0zh2Re-7d-dQOQJvCaLTsXyw6-u51ld0TrMjCPa7OElyUbfk2Uwn0khDh2QOQXmwcu1j9ZnohkPGV1YsLkM-oz8ACgH_7PvTKo43h7dH1wzj5uy3mgjO572lw_-xrI1-2mpdePaK7lybfutdNq7RYeRsOgEk235bE8DRCcjAtuKbZLUBnjqzW3z6kPejn9zfWOuCB9P6niVpLGpZs7q7zRTbh2kygmOvaUmTUq0hZY1Vyfg3zDLZ1CB2_KkZVcQoIYCHTI9tC6g_fDID0nmuXH2KFRL1QeSBP2SpAkAx4zg8rs7eLOOov5YrWBwCl8ikQSZqXDB71Dt_t0cJ-loMkhptAVHDc7HW60Gs7KZNS3CbgpDID_SLE1mdQJTz-qqofJ-45RjY_NKgHQfaspxiumXXbXdaYfxzj8EpYlpuMkA4QtNXjmAFgb2XS05McN8CLg0K0Iy_5sn8NCxqFG48cyQDUwLHSZLDvk79DGe-DucdpgFX_ngzwhF9DFX6ldiLLVTCaUJmguPYFX4Yp1s7s9d6YlJo&amp;p=1&amp;sk=&amp;fvj=0" id="sja1" onclick="setRefineByCookie(['radius']); sjoc('sja1',0); convCtr('SJ')" onmousedown="sjomd('sja1'); clk('sja1');" rel="noopener nofollow" target="_blank" title="Business Intelligence Analyst">Business Intelligence Analyst</a>
<br/>
<div class="sjcl">
<span class="company">
<a class="turnstileLink" data-tn-element="companyName" href="/cmp/Usaa" onmousedown="this.href = appendParamsOnce(this.href, 'from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=f801f0ed484a07ec&amp;jcid=3a1edc2d763c4288')" rel="noopener" target="_blank">
    USAA</a></span>

 - <a class="ratingsLabel" data-tn-element="reviewStars" data-tn-variant="cmplinktst2" href="/cmp/Usaa/reviews" onmousedown="this.href = appendParamsOnce(this.href, '?campaignid=cmplinktst2&amp;from=SERP&amp;jt=Business+Intelligence+Analyst&amp;fromjk=f801f0ed484a07ec&amp;jcid=3a1edc2d763c4288');" rel="noopener" target="_blank" title="Usaa reviews">
<span class="ratings"><span class="rating" style="width:51.0px"><!-- --></span></span>
<span class="slNoUnderline">1,107 reviews</span></a>
 - <span class="location">San Antonio, TX 78288</span>
</div>
<div class="">
<table border="0" cellpadding="0" cellspacing="0"><tr><td class="snip">
<span class="summary">
                            Utilizes basic knowledge of multiple <b>data</b> structures and sources to support the development and implementation of decision support solutions, which may include...</span>
</td></tr></table>
</div>
<div class="sjCapt">
<div class="result-link-bar-container">
<div class="result-link-bar"><span class=" sponsoredGray ">Sponsored</span> - <span class="date">Just posted</span> <span class="tt_set" id="tt_set_10">  -  <a class="sl resultLink save-job-link " href="#" id="sj_f801f0ed484a07ec" onclick="changeJobState('f801f0ed484a07ec', 'save', 'linkbar', true, ''); return false;" title="Save this job to my.indeed">save job</a></span><div class="edit_note_content" id="editsaved2_f801f0ed484a07ec" style="display:none;"></div><script>if (!window['sj_result_f801f0ed484a07ec']) {window['sj_result_f801f0ed484a07ec'] = {};}window['sj_result_f801f0ed484a07ec']['showSource'] = false; window['sj_result_f801f0ed484a07ec']['source'] = "USAA"; window['sj_result_f801f0ed484a07ec']['loggedIn'] = false; window['sj_result_f801f0ed484a07ec']['showMyJobsLinks'] = false;window['sj_result_f801f0ed484a07ec']['undoAction'] = "unsave";window['sj_result_f801f0ed484a07ec']['relativeJobAge'] = "Just posted";window['sj_result_f801f0ed484a07ec']['jobKey'] = "f801f0ed484a07ec"; window['sj_result_f801f0ed484a07ec']['myIndeedAvailable'] = true; window['sj_result_f801f0ed484a07ec']['showMoreActionsLink'] = false; window['sj_result_f801f0ed484a07ec']['resultNumber'] = 10; window['sj_result_f801f0ed484a07ec']['jobStateChangedToSaved'] = false; window['sj_result_f801f0ed484a07ec']['searchState'] = "q=data&amp;l=austin&amp;sort=date&amp;radius=50"; window['sj_result_f801f0ed484a07ec']['basicPermaLink'] = "https://www.indeed.com"; window['sj_result_f801f0ed484a07ec']['saveJobFailed'] = false; window['sj_result_f801f0ed484a07ec']['removeJobFailed'] = false; window['sj_result_f801f0ed484a07ec']['requestPending'] = false; window['sj_result_f801f0ed484a07ec']['notesEnabled'] = false; window['sj_result_f801f0ed484a07ec']['currentPage'] = "serp"; window['sj_result_f801f0ed484a07ec']['sponsored'] = true;window['sj_result_f801f0ed484a07ec']['showSponsor'] = true;window['sj_result_f801f0ed484a07ec']['reportJobButtonEnabled'] = false; window['sj_result_f801f0ed484a07ec']['showMyJobsHired'] = false; window['sj_result_f801f0ed484a07ec']['showSaveForSponsored'] = true; window['sj_result_f801f0ed484a07ec']['showJobAge'] = true;</script></div></div>
<div class="tab-container">
<div class="sign-in-container result-tab"></div>
<div class="tellafriend-container result-tab email_job_content"></div>
</div>
</div>
</div>

In [159]:
d = soup.find(name="span", attrs={"class":"np"})
d

In [156]:
d.find_all("a")
#len(d.find_all("a"))
#d.find_all("a")[-1]["href"]
e = d.find(name="span", attrs={"class":"np"})
print(e)

<span class="np">Next »</span>

In [160]:
import pandas as pd

In [222]:
df = pd.DataFrame(columns = ["job_title", "location", "company", "url"])

In [224]:
df.to_csv("data/listings_data.csv",index=False)

In [227]:
df2 = pd.read_csv("data/listings_data.csv")

In [228]:
df2

,job_title,location,company,url
0,['Watson Health - Data Scientist'],['Austin TX 73344'],['IBM'],['/rc/clk?jk=c1bc88d1fbfd8c88&fccid=de71a49b53...
1,['Data Analysis Intern'],['Austin TX'],['Texan by Nature'],['/company/Texan-by-Nature/jobs/Data-Analysis-...
2,['Software Development Internship - Austin'],['Austin TX'],['CDK Global'],['/rc/clk?jk=1cebb889b301d804&fccid=cf4c744760...
3,['Program Coordinator'],['Austin TX'],['Colorado River Alliance'],['/rc/clk?jk=c043d42b087af77e&fccid=1153f9b6a5...
4,['2018 Schwab Intern Academy: Analytics and Bu...,['Austin TX 73344'],['Charles Schwab'],['/rc/clk?jk=16079903e7c0f8c6&fccid=3c74eafe28...
5,['Engineering Product Development Intern'],['Austin TX'],['Nano Global'],['/rc/clk?jk=eee8a480cce817fd&fccid=ee3c129533...
6,['Data Scientist Intern (Summer 2018)'],['Austin TX'],['Rocket Software'],['/rc/clk?jk=714676ddbd902349&fccid=f9684e7d32...
7,['Machine Learning Intern (Summer 2018)'],['Austin TX'],['Rocket Software'],['/rc/clk?jk=00a38c7959224bff&fccid=f9684e7d32...
8,['Software Developer Internship'],['Austin TX 78759 (Arboretum area)'],['CACI'],['/rc/clk?jk=6e38c6fe54d5bbb4&fccid=290a4498a6...
9,['2018 Summer Software Developer Intern - Aust...,['Austin TX'],['Atlassian'],['/rc/clk?jk=aad2c4a5eff31e29&fccid=e6d4ba9e2c...
10,['Business Application Development Intern 2018'],['Austin TX'],['National Instruments'],['/rc/clk?jk=d77449177cfb64e1&fccid=9f94228dbf...
11,['Business Application Development Intern 2018'],['Austin TX'],['National instrument'],['/rc/clk?jk=5d15580167f2b46b&fccid=263d9a07b5...

In [165]:
x = None

In [168]:
if not x:
    print("Helo")

Helo

In [203]:
dtf = df
for div in soup.find_all(name="div", attrs={"class": "row"}):
    listing = get_listing_info(div)
    other = pd.DataFrame(listing)
    dtf = dtf.append(other)
dtf

,company,job_title,location,url
0,USAA,Business Intelligence Analyst,San Antonio TX 78288,/pagead/clk?mo=r&ad=-6NYlbfkN0CAlkOQ68lM1c9i6U...
0,Adaptivestack Technologies Inc.,Electronic Data Interchange (EDI) Business Ana...,Austin TX,/company/Adaptivestack-Technologies-Inc./jobs/...
0,Simple [A],QA Engineer / QA Analyst (remote),Austin TX 78701 (Downtown area),/rc/clk?jk=62e89d4367865679&fccid=d271b8ad811e...
0,Advanced Micro Devices Inc.,Sr. Business Analyst,Austin TX,/rc/clk?jk=0ec31aa7e9a539b7&fccid=b45c4b5a9c9a...
0,Google,Sales Engineering Manager Shared Services Goog...,Austin TX,/rc/clk?jk=fa6e92598f23922e&fccid=a5b4499d9e91...
0,Central Waste Management,On-Call Trash Service Valet - TRUCK REQUIRED -...,Austin TX 78750,/company/Central-Waste-Management/jobs/Call-Tr...
0,Spectrum,Mgr Network Engineering,Austin TX,/rc/clk?jk=61a2811db9e0bb9e&fccid=c2d1b0769a53...
0,IBM,Data Security Consultant,Austin TX 73344,/rc/clk?jk=04c2935876648d8d&fccid=de71a49b535e...
0,IBM,Research Staff Member Artificial Intelligence,Austin TX 73344,/rc/clk?jk=1d82d66876b6d203&fccid=de71a49b535e...
0,IBM,Associate Partner Advanced Analytics/Data Science,Austin TX 73344,/rc/clk?jk=61c9e8394c055ecc&fccid=de71a49b535e...
0,IBM,Healthcare - Research Staff Member Artificial ...,Austin TX 73344,/rc/clk?jk=77931a185b54b8b9&fccid=de71a49b535e...
0,Accenture,ETL - Data Management Specialist - Austin TX o...,Austin TX,/pagead/clk?mo=r&ad=-6NYlbfkN0CV4holdffd831ZKQ...
0,Teacher Retirement System of Texas,Data Analytics Analyst or SR Data Analytics An...,Austin TX,/pagead/clk?mo=r&ad=-6NYlbfkN0A-4NqhFQaKCxuVMi...
0,Confidentiale,Excel Expert (Data Analyst),San Antonio TX,/pagead/clk?mo=r&ad=-6NYlbfkN0AAIEZtPHxc8ki6YU...

In [202]:
def get_listing_info(div):
    """
    Get the results of scraping a single listings job listing.
    :param div: the contents of a single listing's div tag
    :return: dict, the desired scraping information
    """
    return {"job_title": [get_job_title(div)],
            "location": [get_location(div)],
            "company": [get_company_name(div)],
            "url": [get_url_link(div)]}


def get_number_of_jobs(soup):
    """
    Get the number of jobs returned for the search criteria
    :param soup: soup object for the first search page
    :return: int, the number of jobs that the search returns
    """
    tag = soup.find("div", {"id": "searchCount"})
    n_jobs = tag.text.split(" ")[-2]
    return int(n_jobs.replace(",", ""))


def get_job_title(div):
    """
    Extract the job titles from the div tag.
    :param div: tag object, the div tag from a job posting
    :return: string, the job title
    """
    a = div.find(name="a", attrs={"data-tn-element": "jobTitle"})
    return a["title"].replace(",", "")


def get_company_name(div):
    """
    Extract company names from the div tag.
    :param div: tag object, the div tag from a job posting
    :return: string, the company name
    """
    company = div.find(name="span", attrs={"class": "company"})
    a = div.find(name="a", attrs={"data-tn-element": "companyName"})
    if not a:
        return ' '.join(company.text.split()).replace(",", "")
    else:
        return ' '.join(a.text.split()).replace(",", "")


def get_url_link(div):
    """
    Extract the URL link from the div tag.
    :param div: tag object, the div tag from a job posting
    :return: string, the URL of the job posting
    """
    a = div.find(name="a", attrs={"data-tn-element": "jobTitle"})
    return a["href"]


def get_location(div):
    """
    Extract the location of the job posting from the div tag.
    :param div: tag object, the div tag from a job posting
    :return: string, the location of the job posting
    """
    location = div.find(name="span", attrs={"class": "location"})
    return location.text.replace(",", "")

In [220]:
df = pd.read_csv("data/listings_data.csv")

In [221]:
df

,Unnamed: 0,Unnamed: 0.1,job_title,location,company,url
0,0,NaN,['Watson Health - Data Scientist'],['Austin TX 73344'],['IBM'],['/rc/clk?jk=c1bc88d1fbfd8c88&fccid=de71a49b53...
1,1,NaN,['Data Analysis Intern'],['Austin TX'],['Texan by Nature'],['/company/Texan-by-Nature/jobs/Data-Analysis-...
2,2,NaN,['Software Development Internship - Austin'],['Austin TX'],['CDK Global'],['/rc/clk?jk=1cebb889b301d804&fccid=cf4c744760...
3,3,NaN,['Program Coordinator'],['Austin TX'],['Colorado River Alliance'],['/rc/clk?jk=c043d42b087af77e&fccid=1153f9b6a5...
4,4,NaN,['2018 Schwab Intern Academy: Analytics and Bu...,['Austin TX 73344'],['Charles Schwab'],['/rc/clk?jk=16079903e7c0f8c6&fccid=3c74eafe28...
5,5,NaN,['Engineering Product Development Intern'],['Austin TX'],['Nano Global'],['/rc/clk?jk=eee8a480cce817fd&fccid=ee3c129533...
6,6,NaN,['Data Scientist Intern (Summer 2018)'],['Austin TX'],['Rocket Software'],['/rc/clk?jk=714676ddbd902349&fccid=f9684e7d32...
7,7,NaN,['Machine Learning Intern (Summer 2018)'],['Austin TX'],['Rocket Software'],['/rc/clk?jk=00a38c7959224bff&fccid=f9684e7d32...
8,8,NaN,['Software Developer Internship'],['Austin TX 78759 (Arboretum area)'],['CACI'],['/rc/clk?jk=6e38c6fe54d5bbb4&fccid=290a4498a6...
9,9,NaN,['2018 Summer Software Developer Intern - Aust...,['Austin TX'],['Atlassian'],['/rc/clk?jk=aad2c4a5eff31e29&fccid=e6d4ba9e2c...
10,10,NaN,['Business Application Development Intern 2018'],['Austin TX'],['National Instruments'],['/rc/clk?jk=d77449177cfb64e1&fccid=9f94228dbf...
11,11,NaN,['Business Application Development Intern 2018'],['Austin TX'],['National instrument'],['/rc/clk?jk=5d15580167f2b46b&fccid=263d9a07b5...